.title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin: 20px 0;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .title {
    width: 288px;
    padding-top: 16.46px;
    margin-bottom: 16.46px;
    line-height: 40px;
    font-size: 30px;
  }
}
