.wrap {
  display: flex;
  padding-top: 80px;
  margin-bottom: 64px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .wrap {
    display: block;
    margin-bottom: 39.84px;
    padding-top: 32px;
  }
}
