.graph {
  width: 100%;
  height: 24px;
  background-color: blue;
  position: absolute;
  left: 70px;
  top: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 10px;
}
