.kit__wrap {
  width: 1232px;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 88px;
  display: flex;
}

@media screen and (max-width: 1250px) and (min-width: 768px) {
  .kit__wrap {
    width: 688px;
    display: block;
    padding-top: 40px;
    padding-bottom: 49px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .kit__wrap {
    width: 288px;
    display: block;
    padding-top: 32px;
    padding-bottom: 52px;
  }
}
