.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url("~../../images/georgia-de-lotz-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
