.number {
  margin: 0 263px 0 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #b6bcbf;
}

.number:first-child {
  padding-left: 104px;
}
@media screen and (max-width: 1250px) and (min-width: 768px) {
  .number {
    margin-right: 128px;
  }
}
