.header-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
  text-decoration: none;
  text-align: center;
  max-height: 24px;
  padding: 15% 0;
  justify-content: center;
  align-items: center;
  min-width: 90px;
  margin-right: 20px;
}
