.title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  color: #ffffff;
  max-width: 600px;
  margin: 60px 0 0 0;
}

@media screen and (max-width: 1250px) and (min-width: 768px) {
  .title {
    font-size: 36px;
    line-height: 40px;
    width: 390px;
  }
}
