@media screen and (max-width: 767px) and (min-width: 320px) {
  .title__search {
    width: 285px;
    padding-top: 30px;
    padding-left: 0;
    margin-bottom: 56px;
    font-size: 36px;
    line-height: 40px;
  }
}
