/* external css: flickity.css */

* {
  box-sizing: border-box;
}

.carousel {
  background: #f5f6f7;
  margin-bottom: 50px;
}

.carousel-cell {
  width: 29%;
  height: 280px;
  margin: 0 20px;
  background: white;
  border-radius: 16px;
  counter-increment: carousel-cell;
  display: flex;
  flex-direction: column;
  padding: 20px;
  opacity: 0.7;
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s,
    -webkit-filter 0.3s, filter 0.3s;
  transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

.carousel-cell.is-selected {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-filter: none;
  filter: none;
}
/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
  filter: blur(40%);
}

.date {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #b6bcbf;
}

.cell-wrap {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

.cell-photo {
  background-image: url("../../images/photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 64px;
  height: 64px;
  border-radius: 1000px;
  z-index: 11;
}

.name {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin: 0;
}

.email {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #1a1b22;
}

.text-carousel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
}

@media screen and (max-width: 1250px) and (min-width: 768px) {
  .carousel-cell {
    width: 336px;
    height: 242px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .carousel-cell {
    width: 288px;
    padding: 10px;
    margin: 0;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .date {
    margin: 0;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .cell-photo {
    width: 48px;
    height: 48px;
  }
}

@media screen and (max-width: 1250px) and (min-width: 768px) {
  .cell-photo {
    width: 64px;
    height: 64px;
    margin-right: 12px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .name {
    width: 200px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1250px) and (min-width: 768px) {
  .name {
    width: 200px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .email {
    width: 200px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .text-carousel {
    width: 246px;
    margin: 0;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .flickity-button {
    display: none;
  }
}
