.footer-link {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  color: #1a1b22;
  align-self: center;
  margin-right: 20px;
}
