.header-link__logo {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  width: 200px;
  margin-right: 843px;
  color: rgb(10, 9, 9);
  text-decoration: none;
  max-height: 24px;
}

@media screen and (max-width: 1250px) and (min-width: 768px) {
  .header-link__logo {
    margin-right: 297px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .header-link__logo {
    width: 117px;
    margin-right: 23px;
    font-size: 16px;
    line-height: 24px;
  }
}
