.header-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .header-link-container {
    margin-right: 15px;
  }
}
