.date {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
}

@media screen and (max-width: 1250px) and (min-width: 768px) {
  .date {
    margin: 0;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .date {
    margin: 0;
    margin-bottom: 15.98px;
  }
}
