.footer-nav__links {
  display: flex;
  list-style-type: none;
  margin: 0 320px 0 0;
  padding-left: 0;
}

@media screen and (max-width: 1250px) and (min-width: 768px) {
  .footer-nav__links {
    margin-right: 85px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .footer-nav__links {
    position: absolute;
    top: 10px;
    display: flex;
    flex-direction: column;
    width: 184px;
    margin-right: 0;
  }
}
